body {
  font-family: Arial, sans-serif;
}

.navbar {
  background: #0d6efd;
  color: white;
  padding: 15px;
  text-align: center;
}

.search {
  width: 90%;
  padding: 10px;
  margin: 15px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.card img {
  width: 220px;       
  height: 220px;      
  object-fit: cover;  
  margin: 10px auto;  
  display: block;
}


button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 8px 12px;
}